.cart-image{
    height: 100px;
    width: 100px;
}

.cart-image img{
    height: 100%;
    width: 100%;
}

.cart-info{
    padding: 2rem 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
}

.cart-items-container{
    border: 1px solid black;
    flex: 1;
    margin-right: 4rem;
    min-width: 300px;
}

.no-items{
    text-align: center;
    padding: 2rem;
}

#my-cart{
    width: 100%;
    font-size: 48px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    background-color: #ececec;

}

.my-cart-titles{
    display: flex;
    align-items: flex-start;
   justify-content: flex-start;
    margin-bottom: 1rem;
    margin-left: 5rem;
}

.my-cart-titles h2{
    margin-right: 10rem;
}


.cart-div{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cart-title, .cart-price, .cart-image{
    margin-right: 1rem;
}

.order-info{
    width: 390px;
    height: 225px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    border: 1px solid black;
}

#itemNum{
    padding: 1rem;
    
}

.order-title{
    width: 100%;
    background-color: #ececec;
}

.order-title h2{
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1050px){
    .cart-info{
        flex-direction: column;
    }

    .cart-items-container{
        margin-bottom: 1rem;
        margin-right: 0rem;
    }
}

@media screen and (max-width: 750px){
    .cart-info{
        padding: 2rem 4rem;
    }
}