body {
  min-height: 100vh;
  width: 100%;
  background: #dfe3ea;
}

.container {
  margin: 6rem auto;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.container .form {
  padding: 2rem;
}

.form h3 {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form input {
  height: 50px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.form a {
  font-size: 16px;
  color: #1b51c5;
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}

.form input.button {
  color: #fff;
  background: #e67e22;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: 0.4s;
}

.form input.button:hover {
  background: #f69b0a;
}

.signup {
  font-size: 17px;
  text-align: center;
}

.signup label {
  color: #1b51c5;
  cursor: pointer;
}

.signup label:hover {
  text-decoration: underline;
}
