@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
body {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.editQty{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

label{
  font-size: 20px
}

#productQuantity{
  padding: 5px;
}



form .button {
  height: 45px;
  margin: 35px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: seagreen;
}
form .button input:hover {
  background: lightseagreen;
}

#closeEditQuantity {
  background-color: orangered;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1rem;
  float: right;
}

#closeEditProduct:hover {
  background-color: #999;
}


@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }

}
@media (max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}
